from flask import Flask

from .web.views import web
from .api.views import api
from .models import db

app =  Flask(__name__, instance_relative_config=True)
app.config.from_object('config')
app.config.from_pyfile('config.py')

app.register_blueprint(web)
app.register_blueprint(api, url_prefix='/api')

db.init_app(app)

